<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211289236675-ukl69kitoa47hbvfi84kku4ka9s6buf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211289236675-ukl69kitoa47hbvfi84kku4ka9s6buf0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211289236675-4fdbrih5492p02ssr3q1rf1ef2q9nkrb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2-r7J87hCZYV_GQFYHpyQiVmu0iDbPQU</string>
	<key>GCM_SENDER_ID</key>
	<string>211289236675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.openFitnessTracker</string>
	<key>PROJECT_ID</key>
	<string>openfitnesstracker-d8fgp5</string>
	<key>STORAGE_BUCKET</key>
	<string>openfitnesstracker-d8fgp5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211289236675:ios:2629e0e27f2f084e95ae76</string>
</dict>
</plist>